:root {
  --Green: #c5f82a;
  --White: #ffffff;
  --Grey-700: #333333;
  --Grey-800: #1f1f1f;
  --Grey-900: #141414;
}

.main {
  background-color: var(--Grey-900);
  color: var(--White);
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Grey-800);
  border-radius: 12px;
  min-width: 325px;
  gap: 24px;
  padding: 24px;
}

.card img {
  border-radius: 100%;
  width: 85x;
  height: 85px;
}

.card .info {
  text-align: center;
}

.card .info h1 {
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 1px;
  font-weight: 400;
}

.card .info span {
  font-size: 13px;
  line-height: 150%;
  color: var(--Green);
  font-weight: 600;
}

.card p {
  text-align: center;
  font-size: 14px;
  color: #ffffffa4;
}

.card .links {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 14px;
  text-align: center;
  width: parent;
}

.card .links a {
  width: inherit;
  background-color: var(--Grey-700);
  border-radius: 8px;
  text-decoration: none;
  color: var(--White);
  width: 100%;
  padding: 10px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
}

.card .links a:active {
  background-color: var(--Green);
  color: var(--Grey-900);
  transition:
    background-color 0.3s,
    color 0.3s;
}
